/* General styling */
*{
	box-sizing:border-box;
}
body{
	background-color: #000000;
    font-family: Arial, Helvetica, sans-serif;
}
#container{
    width: 98vw;
    height: 98vh;
	background:#000000;
	margin:0 0;
	font-size:0;
	border-radius:5px;
	overflow:hidden;
}
h2,h3,p,th,td,caption,canvas{
	margin: 2px;
	font-size:14px;
    font-family: Arial, Helvetica, sans-serif;
	color:#fff;
}

/* Main styling */
main{
	width:100%;
	height:100%;
	display:inline-block;
	vertical-align:top;
}

/* Header styling */
main header{
	height:8%;
    width:auto;
	padding:2px 2px 2px 2px;
	display:flex;
	vertical-align:middle;
}
main header .navbar{
    width:25%;
	height:auto;
    display:inline-flex;
    float:left;
}
main header .navbar #navbartoggle{
	display: none;
}
main header .navbar .checkbtn {
	padding-top:5px;
	padding-left:5px;
	display:block;
	color: white;
	cursor: pointer;
}
main header .navbar svg {
    transform: scale(1.5);
    max-width: 48px; /* based on viewBox attributes in svg */
    max-height: 48px;
    vertical-align: middle;
}
main header .search{
    width:75%;
	height:auto;
    float:right;
}
main header .search #search_form{
    width:50%;
	height:auto;
    float:right;
}
main header .search #search_form input{
    width:100%;
	height:auto;
	line-height:50px;
	padding:0 20px 0 20px;
	background-color:#333333ff;
	border:none;
	border-radius:3px;
    font-family: Arial, Helvetica, sans-serif;
	color:#fff;
}
main header .search input::placeholder{
	color:#fff;
}
main header .search button{
    float:right;
	border: none;
	outline: none;
	background: none;
	cursor: pointer;
}
main header .search a{
    float:right;
	cursor: pointer;
}
main header .search svg{
    max-width: 48px; /* based on viewBox attributes in svg */
    max-height: 48px;
    vertical-align: middle;
}

/* Responsive sidebar */
main .sidebar{
	margin: 0px;
	padding: 0px;
	width: 64px; /* Sidebar needs to match the value of the margin-left property */
	position: fixed;
	height: 100%;
	overflow: auto;
}
main .sidebar button{
	border: none;
	outline: none;
	background-color:#333333ff;
	cursor: pointer;
}
main .sidebar svg {
    /* transform: scale(0.5); */
    max-width: 48px; /* based on viewBox attributes in svg */
    max-height: 48px;
}

/* Main display view styling that is shared across all views */
main .messaging_list{
	margin-left: 64px;
	padding: 2px 2px 2px 2px;
	list-style-type:none;
	overflow-y:scroll;
	height:77%;
}

/* Hide the sidebar by default on small displays */
@media only screen and (max-width: 700px) {
	main .sidebar {
		display: none;
	}
	main .messaging_list {
		margin-left: 0px;
	}
}

/* Sign-in interface styling */
main .messaging_list .sign_in_form{
    width:70%;
	max-width: 600px;
	height:auto;
    float: middle;
	vertical-align: top;
	margin: auto;
}
main .messaging_list .sign_in_form input{
	width:100%;
	height:auto;
	line-height:50px;
	padding:0 20px 0 20px;
	background-color:#333333ff;
	border:none;
	border-radius:3px;
	font-family: Arial, Helvetica, sans-serif;
	color:#fff;
}
main .messaging_list .sign_in_form input::placeholder{
	color:#fff;
}
main .messaging_list button{
    float: middle;
	margin: auto;
	background-color:#333333ff;
	color:#fff;
	display: block;
	border: none;
	outline: none;
	cursor: pointer;
}
main .messaging_list p{
    float: middle;
	margin: auto;
	background-color:#333333ff;
	color:#fff;
	display: block;
	text-align: center;
}

/* Settings, Subjects, and Tasks interface styling */
main .messaging_list .dropdown_form{
    width: 70%;
	height:auto;
    float: middle;
	vertical-align: top;
	margin: auto;
	display: flex;
}
main .messaging_list .dropdown_form form{
    width:100%;
	height:auto;
	vertical-align: top;
}
main .messaging_list .dropdown_form form input{
	width:100%;
	height:auto;
	line-height:50px;
	padding:0 10px 0 10px;
	background-color:#333333ff;
	border:none;
	border-radius:3px;
	font-family: Arial, Helvetica, sans-serif;
	color:#fff;
}
main .messaging_list .dropdown_form form input::placeholder{
	color:#fff;
}
main .messaging_list .dropdown_form button{
	width: 64px; /* needs to align with svg size */
	height: 50px; /* needs to align with svg size */
	display: block;
	background-color:#333333ff;
	color:#fff;
	text-align: center;
	border: 1px solid black;
	border-radius: 2px;
	outline: none;
	cursor: pointer;
}
main .messaging_list .dropdown_form button svg {
    /* transform: scale(0.5); */
    max-width: 48px; /* based on viewBox attributes in svg */
    max-height: 48px;
    vertical-align: middle;
}
main .messaging_list .dropdown_list{
    width:50%;
	height:auto;
    float: middle;
	vertical-align: top;
	margin: auto;
	display: flex;
}
main .messaging_list .dropdown_list ul{
	display: block;
	background-color:#333333ff;
}
main .messaging_list .dropdown_list p{
	color:#fff;
	text-align: left;
}
main .messaging_list .output_table{
	/* overflow-x:auto;
	overflow-y:auto; */
    width:auto;
	height:auto;
    float: middle;
	margin: auto;
	vertical-align: top;
	display: flex;
}
main .messaging_list .output_table table, .output_table td, .output_table th{
	margin-left: auto;
	margin-right: auto;
	background-color:#333333ff;
	color:#fff;
	text-align:center;
	border: 1px solid #fff;
  	border-collapse: collapse;
}
main .messaging_list .file_upload_form{
    width: 50%;
	height:auto;
    float: middle;
	vertical-align: top;
	margin: auto;
	display: flex;
}
main .messaging_list .file_upload_form button, main .files button{
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
	margin: auto;
	background-color:#333333ff;
	color:#fff;
	text-align: center;
}
main .messaging_list .file_upload_form label{
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
	background-color:#333333ff;
	color:#fff;
	text-align: center;
	margin: auto;
}
main .messaging_list .file_upload_form label svg, main .file_upload_form button svg {
    max-width: 48px; /* based on viewBox attributes in svg */
    max-height: 48px;
    vertical-align: middle;
}
main .messaging_list .file_upload_form input{
	display: none;
}
main .messaging_list .file_list{
	list-style-type:none;
	border-top:2px solid #fff;
	border-bottom:2px solid #fff;
}
main .messaging_list .file_list h3, main .file_list a{
	display:inline-block;
    font-family: Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#bbb;
	font-weight:normal;
}
main .messaging_list .file_list .loader {
    vertical-align: middle;
	display:inline-block;
	border: 4px solid #f3f3f3; /* Light grey */
	border-top: 4px solid #3498db; /* Blue */
	border-radius: 50%;
	width: 20px;
	height: 20px;
	animation: spin 2s linear infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
main .messaging_list .file_list .files svg {
    display: inline-block;
    /* transform: scale(0.5); */
    max-width: 48px; /* based on viewBox attributes in svg */
    max-height: 48px;
    vertical-align: middle;
}

/* Messaging interface styling */
main .messaging_list h2,.messaging_list h3{
	display:inline-block;
    font-family: Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
	color:#fff;
}
main .messaging_list h3{
	color:#bbb;
	font-weight:normal;
}
main .messaging_list .entete{
	margin-bottom:0px;
}
main .messaging_list .message{
	padding:20px;
	color:#fff;
	line-height:25px;
	max-width:90%;
	display:inline-block;
	text-align:left;
    font-family: Arial, Helvetica, sans-serif;
	border-radius:5px;
	font-size:14px;
	white-space: pre-wrap;
}
main .messaging_list .user{
	text-align:right;
}
main .messaging_list .assistant .message{
	background-color: #333333ff;
}
main .messaging_list .user .message{
	background-color: #333333ff;
	border-color:#6fbced;
}
main .messaging_list .assistant svg {
    display: inline-block;
    /* transform: scale(0.7); */
    max-width: 60px; /* based on viewBox attributes in svg */
    max-height: 60px;
    vertical-align: middle;
}
main .messaging_list .user svg {
    display: inline-block;
    /* transform: scale(0.7); */
    max-width: 48px; /* based on viewBox attributes in svg */
    max-height: 48px;
    vertical-align: middle;
}
main footer{
	height:15%;
    width:100%;
	padding:20px 30px 10px 20px;
    align-items: bottom;
    display: flex;
}
main footer .text_input{
    width: 100%;
	height: 100%;
	float: left;
}
main footer .text_input #message_form {
    width: 100%;
    height: 100%;
	color:#fff;
}
main footer .text_input #message_form textarea {
	border:none;
    width: 100%;
    height: 100%;
	min-width: 100%;
    min-height: 100%;
    max-height: 100%;
	margin-bottom:14px;
	border-radius:3px;
	padding: 3px;
	font-size:14px;
    font-family: Arial, Helvetica, sans-serif;
	color:#fff;
	background-color:#333333ff;
}
main footer .text_input #message_form textarea::placeholder{
	color:#fff;
}
main footer .submit_button{
    width: 64px;
    height: 48px;
    float: right;
}
main footer .submit_button button{
    width: auto;
    height: auto;
	border: none;
	color:#fff;
	background-color:black;
	cursor: pointer;
}
main footer .submit_button svg {
    transform: scale(1.25);
	translate: 2 2px;
    max-width: 48px; /* based on viewBox attributes in svg */
    max-height: 48px;
    vertical-align: middle;
}